<h1>Welcome to DanceApp!</h1>
<button><%= link_to 'Add Studio', new_studio_path %></button>
<button><%= link_to 'Add Dance Class', new_dance_class_path %></button>
<button><%= link_to 'Browse Classes', dance_classes_path %></button>
<button><%= link_to 'Browse Studios', studios_path %></button>


